@import url('https://fonts.googleapis.com/css?family=Inter');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* default primary color*/
      --color-primary: #299D91;
      --bg-color-primary: #f3f3f3;
      /* --bg-color-primary: #1f2937; */
    }
  }
  

  
  .bg-theme-light {
    --bg-color-primary: #f3f3f3;
  }
  
  .bg-theme-dark {
    --bg-color-primary: #1f2937;
  }

  .theme-blue {
    --color-primary: #1E90FF;
  }
  
  .theme-purple {
    --color-primary: #6A5ACD;
  }
  
  .theme-pink {
    --color-primary: #DB7093;
  }
  
  .theme-brown {
    --color-primary: #8B4513;
  }

  .zoom-in {
    @apply duration-200 hover:translate-y-1 hover:scale-105;
  }